body{width:960px;
     background:grey;
     border: 5px black;}

h1 {background:black;
width:500px; 
padding:15px;
color : red;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

h1:hover {background:purple;
width:400px; 
padding:15px;
color : green;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

p.p1 {background:black;
width:500px; 
padding:15px;
color : blue;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

p.p1:hover {background:red;
width:500px; 
padding:15px;
color : blue;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:gold;}

p.p2 {background:black;
width:500px; 
padding:15px;
color : red;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

p.p2:hover {background:white;
width:500px; 
padding:15px;
color : black;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:purple;}

