h1 {background:black;
width:500px; 
padding:15px;
color : red;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

p.0 {background:black;
width:500px; 
padding:15px;
color : blue;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

p.1 {background:black;
width:500px; 
padding:15px;
color : red;
font-family:verdana;
font-size: 20px; 
border-width:5px; 
border-style:solid;
border-color:red;}

body {background-color:green;}
